.overviewWrapper {
  margin: 60px 0;
  h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    span {
      color: #e54a1a;
      font-weight: 500;
    }
  }
  h4 {
    line-height: 1.5;
    font-size: 16px;
  }
}
